.aboutMeContainer {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100% auto;
}

.aboutMeContainer>h1 {
    font-size: 4rem;
    text-align: center;
}

.section1 {
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
    align-items: center;
}

.rightImage {
    display: flex;
    flex: .3;
}

.rightImage>img {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    filter: drop-shadow(2px 2px 15px var(--primary-color));
}

.leftAboutContainer {
    display: flex;
    border: 5px solid var(--primary-color);
    flex-direction: column;
    flex: .7;
    padding: 40px;
    text-align: start;
    margin-left: 20px;
    border-radius: 5% 20%;
}

.leftAboutContainer>p {
    font-size: 1.2rem;
}

.section2 {
    display: flex;
    margin-top: 20px;
    height: 100dvh;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.leftAboutSection2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.date {
    font-size: 1.1rem;
    font-weight: 300;
    color: gray;
}

.leftAboutSection2>h2,
.section3>h2,
.section4>h2,
.section5>h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
}

.technologies {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.technologies1 {
    display: flex;
    gap: 20px;
}

.technologies1>img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 50%;
    background-color: var(--tertiary-color);
    padding: 5px;
}

.technologies1>img:hover {
    filter: drop-shadow(2px 2px 20px var(--primary-color));
}

.section3 {
    display: flex;
    flex-direction: column;
    height: 100dvh auto;
}

.experience {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.carousel {
    width: 400px;
    height: 400px;
}

.carouselImage {
    padding: 10px;
    width: 400px;
    height: 400px;
    object-fit: contain;
}

.section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100dvh;
}

.section4>a>img {
    width: 100%;
    max-width: 350px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0 auto;
}

.section4 a {
    transition: .5s ease-in-out;
    color: var(--secondary-color);
}

.section4>a:hover {
    border-radius: 10px;
    background: #4dfed1;
    box-shadow: 10px 10px 50px #08a4a7,
        -10px -10px 50px #4dfed1;
    cursor: pointer;
    transform: scale(1.1);
}

.section5 {
    height: 90dvh;
}

.certifications {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.certificationsCol1,
.certificationsCol2 {
    display: flex;
    gap: 50px;
}

.cardBody {
    color: var(--bg-color);
    background-color: var(--primary-color);
}

.button {
    background-color: var(--bg-color);
    color: var(--tertiary-color);
}

.button:hover {
    background-color: var(--bg-color);
    color: var(--secondary-color);
}

/* Tablet Screen View 990px*/
@media only screen and (max-width: 990px) {

    .aboutMeContainer>h1 {
        font-size: 3rem;
    }

    .rightImage {
        flex: .4;
    }

    .rightImage>img {
        max-width: 360px;
    }

    .leftAboutContainer {
        flex: .6;
        padding: 15px;
        margin-left: 20px;
        border-radius: 2% 13%;
    }

    .leftAboutContainer>p {
        font-size: 1.1rem;
    }

    .leftAboutSection2>h2,
    .section3>h2,
    .section4>h2,
    .section5>h2 {
        font-size: 2.5rem;
    }

    .section2 {
        display: flex;
        margin: 80px 0;
    }

    .technologies {
        flex-direction: column;
    }

    .technologies1>img {
        width: 80px;
        height: 80px;
    }


    .certifications {
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

}

/* Mobile Screen View 480px*/
@media only screen and (max-width: 480px) {
    .section1 {
        flex-direction: column;
    }

    .aboutMeContainer>h1 {
        font-size: 2.5rem;
    }

    .rightImage {
        flex: 1;
    }

    .rightImage>img {
        max-width: 260px;
    }

    .leftAboutContainer {
        flex: 1;
        padding: 10px;
        margin: 0 10px;
        border-radius: 3% 10%;
    }

    .leftAboutContainer>p {
        font-size: 1rem;
    }

    .leftAboutSection2>h2,
    .section3>h2,
    .section4>h2,
    .section5>h2 {
        font-size: 2rem;
        margin-bottom: 10px;
        padding: 10px;
    }


    .technologies {
        flex-direction: column;
    }

    .technologies1 {
        gap: 5px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .technologies1>img {
        width: 70px;
        height: 70px;
    }

    .section2 {
        margin: 0;
    }

    .experience {
        flex-direction: column-reverse;
    }

    .experience2 {
        display: flex;
        flex-direction: column;
    }

    .leftExperience,
    .rightExperience {
        padding: 20px;
    }

    .date {
        font-size: .9rem;
    }

    .section4>h3 {
        text-align: center;
    }

    .section4>h3>.date {
        display: block;
        padding: 10px;
    }

    .certificationsCol1,
    .certificationsCol2 {
        flex-direction: column;

    }


    .carousel {
        width: 300px;
        height: 300px;
    }

    .carouselImage {
        width: 300px;
        height: 300px;
    }
}